github "LoopKit/LoopKit" ~> 1.1.0
github "thebookins/xDripG5" "sim2"
github "i-schuetz/SwiftCharts" ~> 0.5.0
github "mddub/dexcom-share-client-swift" ~> 0.2.0
github "mddub/G4ShareSpy" ~> 0.3.1
github "ps2/rileylink_ios" ~> 0.12.6
github "amplitude/Amplitude-iOS" ~> 3.8.5
github "socketio/socket.io-client-swift" ~> 8.2.0 # Or latest version
